block body
	script.
		var links = !{JSON.stringify(links)}

	div#arrow-right

	div.sidebar
		div#padding
		img.logo(src='/img/twitter-color.png', color=true, active=true)
		img.logo(src='/img/facebook.png', color=false)
		img.logo(src='/img/google.png', color=false)
		img.logo(src='/img/google_web.png', color=false)
		img.logo(src='/img/google_images.png', color=false)

	div.hidden(ng-controller="LinkCtrl")
		ul
			li(ng-repeat="link in links") {{ link.title }}




